<%= simple_form_for(@cocktail) do |f| %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :ingredients %>
    <%= f.association :doses %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
